bpkg
*.test
*-options.?xx
*-odb.?xx
repository-signing.?xx
repository-types.?xx
argument-grouping.?xx
default-options-files.?xx
version.hxx

# Testscript output directory (can be symlink).
#
test-*.test
